/* main.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
  #main {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h3, h4 {
    font-weight: 600;
    color: #707070;
    margin-bottom: 10px;
  }
  h5 {
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
  }
  
  
  form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px 20px;
    margin-bottom: 64px;
    align-items: center;
  }
  
  input[type="date"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    grid-column: 1 / span 2;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0071b3;
  }
  
  div {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #6198ff
  }
  
  div:last-child {
    font-weight: bold;
    color: #d261ff;
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    #main {
      padding: 20px;
    }
  
    form {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    button {
      grid-column: 1 / span 1;
    }
  }
  